# Mejoradora Leads — Variables de entorno
GOOGLE_PLACES_API_KEY=tu_api_aqui_perro
OPENAI_API_KEY=tu_api_aqui_perro
ANTHROPIC_API_KEY=tu_api_aqui_perro
DINAHOSTING_USER=tu_api_aqui_perro
DINAHOSTING_PASS=tu_api_aqui_perro
DINAHOSTING_ACCOUNT=tu_api_aqui_perro
